body{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    background-color: black;
    color: aliceblue;
}

h3{
    color: aliceblue;

}